:root{
    --color-white: #FCFBF7;
    --color-yellow: #FFCC5F;
    --color-red: #FF6B6B;
    --color-black: #1B1B3A;

    --text-supersmall: 10px;
    --text-small: 14px;
    --text: 18px;
    --text-big: 24px;
}
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 12px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-white);
    color: var(--color-black);

    font-size: 18px;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 900;
    font-style: normal;
}

main{
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: linear-gradient(to bottom right, var(--color-red), var(--color-yellow));
    border-radius: 8px;
}




h1, p{
    position: relative;
    z-index: 1;
    text-align: center;
}
h1::after, p::after{
    content: attr(data-text);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-white);
    -webkit-text-stroke: 3px var(--color-white);
    text-shadow:
    0px -1px var(--color-white),
    1px 1px var(--color-white),
    2px 1px var(--color-white),
    3px 1px var(--color-white),
    3px 2px var(--color-white),
    0px 2px var(--color-white);
}

// TEXTS
.text{
    &--big{
        font-size: 24px;
    }
    &--small{
        font-size: 14px;
    }
    &--ultrasmall{
        font-size: 10px;
    }
}

.projectName{
    display: none;
}

.cookie{
    cursor: pointer;
}

.blocked{
    pointer-events: none;
}

// PATTERN BACKGROUND
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/pattern.png");
    background-size: 66px;
    opacity: 15%;
    z-index: 0;
    pointer-events: none;

    animation: bg 1000s linear infinite;
}

@keyframes bg{
    from{
        background-position: 0 0;
    }
    to {
        background-position: -10000px -10000px;
    }
}