:root{
    --color-white: #FCFBF7;
    --color-yellow: #FFCC5F;
    --color-red: #FF6B6B;
    --color-black: #1B1B3A;

    --border-cookie: #f08d14;

    --text-supersmall: 10px;
    --text-small: 14px;
    --text: 18px;
    --text-big: 24px;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 12px;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    background-color: var(--color-white);
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 900;
    font-style: normal;
}

main{
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: linear-gradient(to bottom right, var(--color-red), var(--color-yellow));
    border-radius: 8px;
}

h1, p{
    position: relative;
    z-index: 1;
    text-align: center;
}
h1::after, p::after{
    content: attr(data-text);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-white);
    -webkit-text-stroke: 3px var(--color-white);
    text-shadow:
    0px -1px var(--color-white),
    1px 1px var(--color-white),
    2px 1px var(--color-white),
    3px 1px var(--color-white),
    3px 2px var(--color-white),
    0px 2px var(--color-white);
}

// TEXTS
.text{
    &--big{
        font-size: 24px;
    }
    &--small{
        font-size: 14px;
    }
    &--ultrasmall{
        font-size: 10px;
    }
}

.projectName{
    display: none;
}

.blocked{
    pointer-events: none;
}

.message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 32px;

    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 1;

    background-color: rgba(255, 255, 255, 0.486);
}

// PATTERN BACKGROUND
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/pattern.png");
    background-size: 66px;
    opacity: 15%;
    z-index: 0;
    pointer-events: none;

    animation: bg 1000s linear infinite;
}

@keyframes bg{
    from{
        background-position: 0 0;
    }
    to {
        background-position: -10000px -10000px;
    }
}

// SI L'ECRAN EST + LARGE, FORCE LE RATIO MOBILE
@media (orientation:landscape){
    main{
        aspect-ratio: 9 / 16;
        height: 100%;
        width: auto;
        overflow: hidden;
    }
}

// COOKIE
.cookie{
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: calc(50% - 8px);
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    padding: 0;

    &--space{
        height: 266px;
    }

    &--anim3{
        transform-origin: center;
        animation: animeBeforeEXBIS 1s ease-in forwards;
    }

    &--full{
        transform-origin: bottom center;
        animation: full 3s ease-out infinite;

        &--anim1{
            animation: animBeforeEX1 0.5s ease-out;
        }

        &--anim2{
            animation: animBeforeEX2 0.5s ease-out;
            animation-delay: 0.5s;
        }

        &--anim3{
            animation: animBeforeEX3 1s ease-in;
        }
    }
}
.svg{
    width: 266px;
    height: auto;
    fill: none;
    stroke:var(--border-cookie);
    stroke-width: 3px;
    overflow: visible;

    &__cookie{
        fill: var(--color-yellow);
        filter: drop-shadow(8px 8px 0 var(--color-white));
    }

    &__fissure{
        stroke-dasharray: 100;
        stroke-dashoffset: 100;

        &--open{
            stroke-dashoffset: 0;
        }
    }
}

@keyframes full {
    0%{
        transform: rotate(0) translate(0, 0);
    }
    40%{
        transform: rotate(0) translate(0, 0);
    }
    50%{
        transform: rotate(-3deg) translate(3px, 0);
    }
    55%{
        transform: rotate(3deg) translate(-2px, 0);
    }
}

.anim{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.touch__circle{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: calc(50% + 8px);
    width: 200px;
    height: 200px;
    
    border: solid var(--color-white);
    border-radius: 100%;
    border-width: 24px;

    transform-origin: center;
    

    &--small{
        width: 250px;
        height: 250px;
        border-width: 16px;
        animation-delay: 0.3s;
    }

    &--anim{
        animation: animTouch 0.8s linear forwards;
    }
}

@keyframes animTouch{
    0%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }
    66%{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, -50%) scale(1.5);
        border-width: 0px;
        opacity: 0;
        display: none;
    }
}

@keyframes animBeforeEX1{
    0%{
        transform: rotate(0deg) translate(0, 0);
    }
    33%{
        transform: rotate(-5deg) translate(3px, 0);
    }
    50%{
        transform: rotate(5deg) translate(-2px, 0);
    }
    100%{
        transform: rotate(0deg) translate(0, 0);
    }
}

@keyframes animBeforeEX2{
    0%{
        transform: rotate(0deg) translate(0, 0);
    }
    33%{
        transform: rotate(-8deg) translate(5px, 0);
    }
    50%{
        transform: rotate(8deg) translate(-4px, 0);
    }
    100%{
        transform: rotate(0deg) translate(0, 0);
    }
}

@keyframes animBeforeEX3{
    0%{
        transform: rotate(0deg);
    }
    15%{
        transform: rotate(3deg);
    }
    30%{
        transform: rotate(-1deg);
    }
    45%{
        transform: rotate(5deg);
    }
    60%{
        transform: rotate(-6deg);
    }
    70%{
        transform: rotate(8deg);
    }
    80%{
        transform: rotate(-7deg);
    }
    90%{
        transform: rotate(8deg);
    }
    100%{
        transform: rotate(-7deg);
    }
}

@keyframes animeBeforeEXBIS {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.8);
    }
}