@keyframes waiting {
  0% {
    transform: rotate(0) translate(0, 0);
  }
  40% {
    transform: rotate(0) translate(0, 0);
  }
  50% {
    transform: rotate(-3deg) translate(3px, 0);
  }
  55% {
    transform: rotate(3deg) translate(-2px, 0);
  }
}
@keyframes animTouch {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  66% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    display: none;
    opacity: 0;
    border-width: 0px;
    transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes animBeforeEX1 {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  33% {
    transform: rotate(-5deg) translate(3px, 0);
  }
  50% {
    transform: rotate(5deg) translate(-2px, 0);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}
@keyframes animBeforeEX2 {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  33% {
    transform: rotate(-8deg) translate(5px, 0);
  }
  50% {
    transform: rotate(8deg) translate(-4px, 0);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}
@keyframes animBeforeEX3 {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  45% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-6deg);
  }
  70% {
    transform: rotate(8deg);
  }
  80% {
    transform: rotate(-7deg);
  }
  90% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}
@keyframes animBeforeEXBIS {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  95% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    display: none;
  }
}
@keyframes animEx1Zoom {
  from {
    transform: translate(-50%, -75%) scale(0.8);
  }
  to {
    transform: translate(-50%, -75%) scale(1);
  }
}
@keyframes animEx1Left {
  from {
    transform: translate(0px, 0px) rotate(0deg);
  }
  to {
    transform: translate(-32px, -24px) rotate(-10deg);
  }
}
@keyframes animEx1Right {
  from {
    transform: translate(0px, 0px) rotate(0deg);
  }
  to {
    transform: translate(32px, -24px) rotate(10deg);
  }
}
@keyframes animPaper1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(0.9);
  }
}
@keyframes animPaper2 {
  from {
    transform: scale(0.9);
  }
  to {
    z-index: 100;
    transform: scale(1);
  }
}
@keyframes animText {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes popText {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animDot {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(0);
  }
}
@keyframes animPieces {
  from {
    opacity: 0;
    transform: translate(calc(-50% + 15px), calc(-50% + 11px)) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(calc(-50% + 15px), calc(-50% + 11px)) scale(1);
  }
}
@keyframes animOpenedRight {
  from {
    transform: translate(32px, -24px) rotate(10deg);
  }
  to {
    transform: translate(32px, -24px) rotate(9deg);
  }
}
@keyframes animOpenedLeft {
  from {
    transform: translate(-32px, -24px) rotate(-10deg);
  }
  to {
    transform: translate(-32px, -24px) rotate(-9deg);
  }
}
:root {
  --color-white: #FCFBF7;
  --color-yellow: #FFCC5F;
  --color-red: #FF6B6B;
  --color-black: #1B1B3A;
  --border-cookie: #f08d14;
  --text-supersmall: 10px;
  --text-small: 14px;
  --text: 18px;
  --text-big: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100svh;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "M PLUS Rounded 1c", serif;
  font-weight: 900;
  font-style: normal;
  background-color: var(--color-white);
  color: var(--color-black);
}

main {
  width: 100%;
  height: 100%;
  padding: 64px 16px 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  background: linear-gradient(to bottom right, var(--color-red), var(--color-yellow));
  border-radius: 8px;
}

.projectName {
  display: none;
}

.blocked {
  pointer-events: none;
}

h1, h2, p, span {
  z-index: 1;
  position: relative;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}

h1::after, h2::after, p::after, span::after {
  content: attr(data-text);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-white);
  -webkit-text-stroke: 3px var(--color-white);
  text-shadow: 0px -1px var(--color-white), 1px 1px var(--color-white), 2px 1px var(--color-white), 3px 1px var(--color-white), 3px 2px var(--color-white), 0px 2px var(--color-white);
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 4px;
}

.text--big {
  font-size: 24px;
}
.text--small {
  font-size: 14px;
  display: none;
  opacity: 0;
}
.text--ultrasmall {
  font-size: 10px;
  display: none;
  opacity: 0;
}

.prediction {
  display: none;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
}
.prediction__container {
  position: relative;
  transform: scale(0);
}
.prediction__msg {
  opacity: 0;
  padding: 32px 16px;
  word-wrap: break-word;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings: "SOFT" 0, "WONK" 1;
}
.prediction__img {
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  height: 100%;
}

.dot {
  position: absolute;
  animation: animDot 1.5s infinite alternate;
  animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
}
.dot__container {
  position: relative;
}
.dot--2 {
  left: 4px;
  animation-delay: 0.3s;
}
.dot--3 {
  left: 8px;
  animation-delay: 0.6s;
}

.background {
  z-index: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/pattern.png");
  background-size: 66px;
  opacity: 15%;
  animation: bg 1000s linear infinite;
}

@keyframes bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px -10000px;
  }
}
.btn {
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 400px;
  border: none;
  background-color: transparent;
}

@media (orientation: landscape) {
  main {
    aspect-ratio: 9/16;
    height: 100%;
    width: auto;
  }
  .btn {
    overflow: visible;
  }
}
.touch {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.touch__circle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border: 24px solid white;
  border-radius: 100%;
}
.touch__circle--big {
  width: 250px;
  height: 250px;
  border-width: 16px;
  animation-delay: 0.3s;
}
.touch__circle--anim {
  animation: animTouch 0.4s linear forwards;
}

.svg {
  overflow: visible;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 266px;
  fill: none;
  stroke: var(--color-black);
  stroke-width: 3px;
  filter: drop-shadow(8px 8px 0 var(--color-white));
}

.cookie {
  left: calc(50% - 4px);
  stroke: var(--border-cookie);
  transform-origin: center;
}
.cookie--full {
  max-width: calc(100% - 96px);
}
.cookie--broken {
  display: none;
  width: 600px;
}
.cookie__group--full {
  transform-origin: bottom center;
  animation: waiting 3s ease-out infinite;
}
.cookie__svg {
  fill: var(--color-yellow);
}
.cookie__container {
  display: none;
  fill: var(--color-yellow);
}
.cookie__fissure {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}
.cookie__fissure--show {
  stroke-dashoffset: 0;
}

.paper {
  fill: var(--color-white);
  stroke: var(--border-paper);
}
.paper path {
  height: 500px;
}

.anim__full--1 .cookie__group--full {
  animation: animBeforeEX1 0.5s ease-out;
}
.anim__full--2 .cookie__group--full {
  animation: animBeforeEX2 0.5s ease-out;
  animation-delay: 0.5s;
}
.anim__full--3 {
  animation: animBeforeEXBIS 1s ease-in forwards;
}
.anim__full--3 .cookie__group--full {
  animation: animBeforeEX3 1s ease-in;
}
.anim__broken--1 {
  display: block;
  transform-origin: center;
  animation: animEx1Zoom 0.5s forwards;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}
.anim__broken--1 .cookie__group--broken {
  animation: 1s forwards;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}
.anim__broken--1 .cookie__group--left {
  transform-origin: bottom right;
  animation-name: animEx1Left;
}
.anim__broken--1 .cookie__group--right {
  transform-origin: bottom left;
  animation-name: animEx1Right;
}
.anim__paper--1 {
  display: block;
}
.anim__paper--1 .prediction__container {
  animation: animPaper1 0.3s ease-in forwards;
}
.anim__paper--2 .prediction__container {
  animation: animPaper2 0.8s forwards;
  animation-timing-function: cubic-bezier(0.36, 1.85, 0.64, 1);
}
.anim__paper--3 .prediction__msg {
  animation: animText 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
.anim__text {
  display: block;
  animation: popText 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
.anim__pieces {
  display: block;
  transform-origin: center;
  animation: animPieces cubic-bezier(0.08, 1.34, 0.4, 0.95) 0.8s forwards;
}
.anim__opened .cookie__group--broken {
  animation: 3s ease-in-out infinite alternate;
}
.anim__opened .cookie__group--right {
  animation-name: animOpenedRight;
}
.anim__opened .cookie__group--left {
  animation-name: animOpenedLeft;
}/*# sourceMappingURL=style.css.map */